version: '3'

services:
  db:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: dbpass
      POSTGRES_DB: admin
    ports:
      - "5432:5432"
    restart: unless-stopped
    
  twitchbot:
    container_name: twitchbot
    build: .
    command: python3 bot.py
    environment:
      TOKEN: <YOUR TOKEN HERE>
      BOT_NICK: <BOT NICK>
      CHANNELS: <YOUR CHANNELS HERE>
    restart: unless-stopped